<div
  class="card p-3 d-flex flex-row justify-content-between align-items-center"
>
  <span class="fs-5">
    {{ technology.techName }}
  </span>
  <div class="technology-actions">
    <button class="btn btn-primary" (click)="displayTests(technology.id)">
      <i class="fa-solid fa-eye"></i>
    </button>
    <button class="btn btn-success">
      <i class="fa-solid fa-pen"></i>
    </button>
    <button class="btn btn-danger">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
</div>
