<section class="p-4 position-relative">
  <button
    *ngIf="!isAdd"
    class="btn btn-primary btn-add"
    type="button"
    (click)="toggleAddTest()"
  >
    <i class="fa-solid fa-plus"></i>
  </button>
  <app-add-test
    *ngIf="isAdd"
    (testCreate)="addTest($event)"
    (hideAddTestEvent)="toggleAddTest()"
  />
  <p class="mx-auto py-4 text-center">Fetching all tests...</p>
  <p class="mx-auto py-4 text-center">No technologies found.</p>
  <ul class="mx-auto row gy-3 list-unstyled">
    <li class="col-12 p-0" *ngFor="let test of testList">
      <app-test-list-item />
    </li>
  </ul>
</section>
